<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title>Choropleth</title>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />
<style>
  body { margin:0; padding:0; }
  #map { position:absolute; top:0; bottom:0; width:100%; }
</style>
</head>
<body>


<div id='map'></div>

<style>
.map-legend .swatch {
  width:20px;
  height:20px;
  float:left;
  margin-right:10px;
  }
.leaflet-popup-close-button {
  display: none;
  }
.leaflet-popup-content-wrapper {
  pointer-events: none;
  }
</style>
<script>
  var api_key = '{{api_key | safe}}'
    L.mapbox.accessToken = api_key;

  var map = L.mapbox.map('map', 'mapbox.light')
    .setView([37.7833, -122.4167], 12);

  var popup = new L.Popup({ autoPan: false });

  // statesData comes from the 'us-states.js' script included above
  geo_json_variable = {{ sf_cong_113 | safe}}

  var statesLayer = L.geoJson(geo_json_variable,  {
      style: getStyle,
      onEachFeature: onEachFeature
  }).addTo(map);

  function getStyle(feature) {
      return {
          weight: 2,
          opacity: 0.1,
          color: 'black',
          fillOpacity: 0.7,
          fillColor: getColor(feature.properties.cluster)
      };
  }

  // get color depending on population density value
  function getColor(d) {
      return d > 6 ? '#FF76BC' :
          d > 5  ? '#E1B700' :
          d > 4  ? '#91D100' :
          d > 3  ? '#00D8CC' :
          d > 2   ? '#56C5FF' :
          d > 1   ? '#1B58B8' :
          d > 0   ? '#B81B6C' :
          '#15992A';
  }

  function onEachFeature(feature, layer) {
      if (feature.properties && feature.properties.image) {
        layer.bindPopup(feature.properties.image)
      }
      layer.on({
          mousemove: mousemove,
          mouseout: mouseout,
          click: zoomToFeature

      });
  }

  var closeTooltip;

  function mousemove(e) {
      var layer = e.target;


      popup.setLatLng(e.latlng);
      popup.setContent('<div class="marker-title">' + layer.feature.properties.tweetrate + ' tweets' + '</div>'+ 'top_ten:' + layer.feature.properties.top_ten  + 'cluster #' +layer.feature.properties.cluster
                );


      if (!popup._map) popup.openOn(map);
      window.clearTimeout(closeTooltip);

      // highlight feature
      layer.setStyle({
          weight: 3,
          opacity: 0.3,
          fillOpacity: 0.9
      });

      if (!L.Browser.ie && !L.Browser.opera) {
          layer.bringToFront();
      }
  }

  function mouseout(e) {
      statesLayer.resetStyle(e.target);
      closeTooltip = window.setTimeout(function() {
          map.closePopup();
      }, 100);
  }

  function zoomToFeature(e) {
      map.fitBounds(e.target.getBounds());
  }

  map.legendControl.addLegend(getLegendHTML());

  function getLegendHTML() {
    var grades = [0, 1, 2, 3, 4, 5, 6, 7],
    labels = [],
    from, to;

    for (var i = 0; i < grades.length; i++) {
      from = grades[i];
      to = grades[i];

      labels.push(
        '<li><span class="swatch" style="background:' + getColor(from) + '"></span> ' +
        from + (to ? '&ndash;' + to : '+')) + '</li>';
    }

    return '<span>Cluster Category</span><ul>' + labels.join('') + '</ul>';
  }
</script>


</body>
</html>
